.main{
    font-family: sans-serif;
}
.sec-2{
    background-image: url(./images/bg1.png);
    background-repeat: no-repeat;
    height: 880px;
    background-color: black;
}
/* responsive */
@media only screen and (max-width:600){
    .sec2{
        height: 400px;
        width: 400px;
        background-color: blue;
    }
    .navbar{
        width: 400px;
        background-color: blueviolet;
    }
}
/* Navbar */
.navbar{
    box-shadow: 0px 10px 10px 10px  #3F3F4E;
    color: white;
    padding-top: 10px;
    background-color: transparent;
    width: 970px;
    border-radius: 10px;
}
.navbar-brand{
    margin-left: 200px; 
}
.logo{
    width: 70px;
    height:70px;
}
.nav-link{
    color:white;
}
.nav-item{
margin-left: 30px;
}
.nav-link:hover{
    color:rgb(252, 123, 2)
}
/* middle-sec */
.text-div{
    text-align: start;
    color:white;
    width:700px;
    margin-left: 200px;
    margin-top: 80px;
    height: 500px;
    padding: 100px;
}
.text1{
    font-size: 60px;
    font-weight: 700;
}
.text2{
    font-size: 40px;
    font-weight: 700;
}
span{
    color:rgb(252, 123, 2);
}



/* second sec */

#sec-second {
    width: 100%;
    height: 1400px;
    background: url(./images/bg2.png) top center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    padding: 0;
  
  }
  
  #sec-second:before {
    content: "";
    background: rgba(8, 0, 0, 0.55);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    
  }
  .content{
    position: absolute;
    left: 50%;
   top:14%;
    transform: translate(-50%,-50%);
    text-align: start;
    padding: 70px;
    height: 700px;
    width: 800px;
    margin-left:px;
    background-color:#3F3F4E;
    
}
.logo2{
    width: 120px;
    height: 120px;
    margin-left: 37%;
    margin-bottom: 7%;
}
.sec-text{
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}
.btn-second{
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 30%;
    background-color:transparent;
    color:white;
    border: 2px solid rgb(252, 123, 2);
    margin-top: 7%;
    
}
.sec-p{
    font-size: 60px;
    color: rgb(252, 123, 2);
    padding-left: 80px;
}
 .btn-second:hover{
    background-color: rgb(252, 123, 2);
    color: white;
}
/* sec-third */
.sec-third{
 
    position: absolute;
    left: 45%;
   top:70%;
    transform: translate(-50%,-50%);
    text-align: start;
    padding: 70px;
    height: 700px;
    width: 850px;
  }
  
.sec3-div{
    text-align: center;
    color: white;
    padding-top: 10%;
    width: 900px;
}
.sec3-p1{
    font-size: 50px;
    font-weight: 700;
}
.sec3-p2{
    font-size: 28px;
    font-weight: 700;
}
.secdiv-2{
    width: 800px;
    padding-top: 30px;
}

.pro-1{
    margin-top: 17px;
}

/* Portfolio sec */
.portfolio-sec{
    
    height: 1070px;
}

.imgs{
    height: 100%;
    filter: opacity(0.1);
}

.card{
    height: 1400px;
}
.imgs2{
    height: 100%;
    filter: opacity(0.2);
}
.center{
    text-align: center;
}
.portfolio-text{
    font-size: 50px;
    margin-top: 10%;
    font-weight: 830;
}
.text2{
    font-weight: 830; 
    font-size: 30px;
}
/* --------------progress bar------------------- */
.progress-1 {
    width:600px;
    height:20px;
    margin-left: 10%;
    background:
     linear-gradient(rgb(252, 123, 2) 0 0) 0/0% no-repeat
     #ddd;
    animation:p1 5s;
    /* animation-iteration-count: 2; */
    animation-fill-mode: forwards;
    
  }
  @keyframes p1 {
    from{left:0%} 
    to{ right:100%;}
      100% {background-size:100%}
  }
  .progress-2 {
    width:600px;
    height:20px;
    margin-left: 12%;
    background:
     linear-gradient(rgb(252, 123, 2) 0 0) 0/0% no-repeat
     #ddd;
    animation:p2 5s;
    /* animation-iteration-count: 2; */
    animation-fill-mode: forwards;
    
  }
  @keyframes p2 {
    from{left:0%} 
    to{ right:100%;}
      100% {background-size:100%}
  }
  .progress-3 {
    width:600px;
    height:20px;
    margin-left: 6%;
    background:
     linear-gradient(rgb(252, 123, 2) 0 0) 0/0% no-repeat
     #ddd;
    animation:p3 5s;
    /* animation-iteration-count: 2; */
    animation-fill-mode: forwards;
    
  }
  @keyframes p3 {
    from{left:0%} 
    to{ right:100%;}
      100% {background-size:100%}
  }
  .progress-4 {
    width:600px;
    height:20px;
    background:
     linear-gradient(rgb(252, 123, 2) 0 0) 0/0% no-repeat
     #ddd;
    animation:p4 5s;
    /* animation-iteration-count: 2; */
    animation-fill-mode: forwards;
    
  }
  @keyframes p4 {
    from{left:0%} 
    to{ right:100%;}
      100% {background-size:70%}
  }
  .progress-5 {
    width:600px;
    height:20px;
    background:
     linear-gradient(rgb(252, 123, 2) 0 0) 0/0% no-repeat
     #ddd;
    animation:p5 5s;
    /* animation-iteration-count: 2; */
    animation-fill-mode: forwards;
    
  }
  @keyframes p5 {
    from{left:0%} 
    to{ right:100%;}
      100% {background-size:40%}
  }
  /* --------------line----------- */
  .experience-text1{
    font-size: 60px;
    font-weight: 850;
    margin-left: 17%;
    margin-bottom: 7%;
  }
  .span{
    color:rgb(252, 123, 2)
  }
.third-col-text{
margin-top: 60%;
}
.third-col-text2{
  margin-top: 72%;
  }
.second-col-text{
  margin-top: 80%;
}
/* ---------------Card---------------- */
.card-btn{
  width: 180px;
  height: 45px;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 10%;
  background-color:transparent;
  color:white;
  border: 2px solid rgb(252, 123, 2);
  margin-top: 7%;
  margin-left: 20%;
}
.card-btn:hover{
  background-color: rgb(252, 123, 2);
 
}
.card-images{
  height: 260px;
}

.card-shadow{
  box-shadow: 0px 5px 10px 10px rgb(8, 8, 8)
}
.card-shadow:hover{
  transform: scale(1.1)
}